# Environment variables
.env

# Google Auth / Legacy files
user.json
credentials.json

# --- Configuration ---
# Ignore ALL config variations (dev, prod, test, local)
config.*.yaml

# Project summary files 
repomix-output.xml
repomix-output-be.xml
gorm.db
docs/*
